{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management System - Event Listing</title>
    <link rel="stylesheet" href="{% static 'events/css/home.css' %}">
    <!-- Include the Tailwind CSS file -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex flex-col min-h-screen">
    <!-- Header -->
    <header class="header bg-gray-900 text-white py-3">
        <!-- ... Header content goes here ... -->
        {% include 'navbar.html' %}
    </header>

    <div class="content flex-grow">
        <!-- Event Listing Section -->
        <section class="event-listing py-16">
            <div class="container mx-auto px-4">
                <h2 class="text-3xl font-bold mb-8">Discover Events</h2>
                <!-- Event filtering options go here (if needed) -->
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                    <!-- Event Card - Repeat this for each event -->
                    {% for event in all_events %}
                    <div class="event-card border border-gray-300 rounded-md overflow-hidden">
                        {% comment %} <img src="event_image.jpg" alt="Event Image" class="w-full h-48 object-cover object-center"> {% endcomment %}
                        {% if event.event_image %}
                            <img src="{{ MEDIA_URL }}{{ event.event_image.url }}" alt="Event Image" class="w-full h-48 object-cover object-center">
                        {% else %}
                            <img src="/media/images/default.jpg" alt="No Image Found" class="w-full h-48 object-cover object-center">
                        {% endif %}

                        <div class="event-info p-4">
                            <h3 class="text-xl font-bold mb-2">{{event.event_title}}</h3>
                            <p class="text-gray-600 mb-2">On {{event.event_date}}</p>
                            <p class="text-gray-600 mb-2">{{event.event_location}}</p>
                            <a href="#" class="btn bg-blue-500 text-white px-4 py-2 block rounded-md text-center">View Details</a>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- End of Event Card -->
                    <!-- Repeat the event cards for each event -->
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer class="footer bg-gray-900 text-white py-0 text-sm">
        <div class="container mx-auto px-4">
            <p>&copy; 2023 Event Management System. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
